<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Education</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2022 - Present</div>
                        <h3 class="timeline-title">Student | B-Tech</h3>
                        <h4 class="timeline-subtitle">SLIET</h4>
                        <p class="timeline-description">
                            Pursuing Bachelor degree at SLIET in Electronics Engineering with a strong focus on coding, problem-solving, and core technical subjects. Gaining hands-on experience and building projects in software development and electronics to strengthen practical skills and exploring modern technologies. Where I have been actively involved in various academic and extracurricular activities. These experiences have not only broadened my horizons but have also honed my teamwork, leadership, and communication skills.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-book-open"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2019 - 2021</div>
                        <h3 class="timeline-title">Student | Intermediate</h3>
                        <h4 class="timeline-subtitle">JNV Rath, Hamirpur</h4>
                        <p class="timeline-description">
                            Completed higher secondary education with a focus on Physics, Chemistry, and Mathematics. Built a strong foundation in analytical thinking and problem-solving, which sparked my interest in engineering and technology. Actively participated in academic and co-curricular activities, laying the groundwork for my B.Tech journey.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-school"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2014 - 2019</div>
                        <h3 class="timeline-title">Student | High School</h3>
                        <h4 class="timeline-subtitle">JNV Rath, Hamirpur</h4>
                        <p class="timeline-description">
                            Completed high school education with a focus on Science and Mathematics. Developed an early interest in technology and problem-solving while actively participating in academic and co-curricular activities, which built the foundation for future studies in engineering.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>